@import url("https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Mono");
body,
html {
  font-family: 'Raleway', sans-serif;
  background-color: #373741;
  color: #19191b;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #19191b;
  text-shadow: 0px 1px 2px #585869; }

nav {
  text-align: center;
  position: relative;
  z-index: 0;
  color: #373741;
  text-shadow: 0px 1px 2px #0d0d0d;
  margin-bottom: 20px; }
  nav:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    -ie-opacity: 0.6;
    -o-opacity: 0.6;
    opacity: 0.6;
    background: black;
    pointer-events: none;
    z-index: -1; }

nav > * {
  margin: 0;
  padding: 5px; }

nav span {
  font-size: small; }

nav .brand {
  font-family: 'Raleway', sans-serif;
  color: #373741;
  font-size: xx-large;
  font-weight: normal; }

nav .brand .sub-text {
  color: gray;
  font-weight: normal; }

nav .sections div {
  color: #416e98;
  display: inline-block;
  margin: 0 10px; }

footer {
  position: relative;
  z-index: 0;
  color: #373741;
  text-shadow: 0px 1px 2px #0d0d0d;
  text-align: center;
  padding: 20px;
  color: #373741; }
  footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    -ie-opacity: 0.6;
    -o-opacity: 0.6;
    opacity: 0.6;
    background: black;
    pointer-events: none;
    z-index: -1; }

button {
  border: #19191b solid 2px;
  box-shadow: inset 0px 1px 2px #585869, 0px 1px 2px #585869;
  border-color: gray;
  color: gray;
  line-height: 30px;
  font-size: 20px;
  min-width: 80px;
  background: none;
  border-radius: 3px;
  -webkit-transition: border 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out;
  -ie-transition: border 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out; }

button:hover {
  border-color: #2e2e2e; }

button:focus {
  outline: none; }

button.blue {
  color: #416e98;
  border-color: #416e98; }

button.blue:hover {
  border-color: #1b2e56; }

button.red {
  color: #984141;
  border-color: #984141; }

button.red:hover {
  border-color: #501819; }

button.yellow {
  color: #8b843f;
  border-color: #8b843f; }

button.yellow:hover {
  border-color: #383716; }

content {
  display: block;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative; }

.sub-text {
  font-size: .5em; }

.input-sync {
  box-sizing: border-box;
  position: relative; }

.input-box {
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  height: 500px;
  border-radius: 3px;
  color: gray;
  box-sizing: border-box;
  padding: 4px;
  border: none;
  text-shadow: none;
  transform: translate3d(0, 0, 0); }

textarea.input-box {
  background: #373741;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.8); }

tokenized.input-box {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden; }

tokenized div {
  white-space: pre-wrap; }

textarea:focus {
  outline: none; }

textarea::-webkit-input-placeholder {
  color: gray; }

textarea:-moz-placeholder {
  color: gray; }

textarea::-moz-placeholder {
  color: gray; }

textarea:-ms-input-placeholder {
  color: gray; }

results {
  display: block;
  min-height: 80px;
  text-align: center; }

results .main > div {
  font-size: 1.8em;
  color: #659841; }

result {
  display: inline-block;
  margin: 5px; }

result * {
  margin: 0;
  padding: 0; }

token {
  color: #487e22; }

token span {
  position: relative;
  top: -10px;
  left: -5px;
  font-size: .5em;
  display: none; }

form .actions button {
  margin-right: 5px;
  margin-top: 5px; }

form .actions .label {
  color: gray;
  margin-left: 20px;
  float: right; }
